:root  {
    --light_grey: #c4c4c4;
    --grey: #707070;
    --blue: #041caa;
	--light_blue: #4157d6;
}
body {
    background-color: var(--light_grey);
    color: black;
}
#logo {
	max-width:70%; width:70%;
	background-color: white;	
}

#wrapper {
	padding: 5%;	
	margin: 0 auto;/* center the page */
}
#content {
    border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	border: 1px solid black;
	border-top: none;
	background-color: white;
	font-family: Arial;
	text-align: left;			
}

#footer {
	text-align: center;
	background-color: var(--blue);
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
}
#menu {
	border-top-left-radius:16px;
	border-top-right-radius:16px;
	border: 1px solid var(--blue);
	border-bottom: none;		/* avoid a double border */	
	margin: 0 auto;			/* clear:both makes sure the content div doesn't float next to this one but stays under it */
	padding:0 20px;
	background-color: white;
}
.form-select{
	background-color: var(--blue);
	color: white;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='white' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E")
}
th{
	background-color: var(--blue);
	color: white;

}
.centered-block{
	margin-left: auto;
	margin-right: auto;
}
table {
	display: block;
	margin-left: auto;
	margin-right: auto	
}
button{
	background-color: var(--blue);
	color: white;
}
.bg-body-tertiary {
    --bs-bg-opacity: 0;
}
td {
    border: 1px solid var(--blue);
}

tr td:last-child {
    width: 1%;
    white-space: nowrap;
}
.btn-primary{
	background-color: var(--blue);
}
a{
	color: black;
	text-decoration: none;
}
.container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	height: 100px;
	object-fit: cover;
}
.social {
	position: relative;
	display: inline-block;
	width: 250px;
	height: 250px;
	object-fit: cover;
	margin-top: 50px;
}
div.normal{
	align-items: center;
	width: 90%;
	word-break: break-all;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
}
.col.ml-3, .col-lg-10{
	color: white;
}
.card-header{
	background-color: var(--blue);
}
.blue-text{
	color: var(--blue);
}
#centered-text{
	text-align: center;
	word-break: break-word;
}
.btn{
	background-color: var(--blue);
	color: white;
}