:root  {
    --light_grey: #c4c4c4;
    --grey: #707070;
    --white:#ffffff;
    --blue: #041caa;
    --black:#050505;
    --red: #e00a0a;
}
body {
    margin: 0 auto;
    min-height: 100%;
    font-family: serif;
    background-color: var(--light_grey);
    color: var(--black);
}
#logo {
	float: left;
	width: 240px;
	height: auto;	
}
h1 {
    font-size: 1.8em;
}
h1, h2 {
    text-align: center;
}
.white-text {
    color: var(--white);
}
.red-text {
    color:var(--red);
}
.centered-text {
    text-align: center;
    align-self: center;
}

.post-content {
    font-size: 1em;
    color:var(--light_grey);
}
.big-text {
    font-size: 2em;
}
.medium-text {
    font-size: 1.5em;
}
.small-text {
    font-size: 1em;
}
.centered-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#wrapper {
	padding: 20px;
	width: 80%;
	margin:auto; 	
	margin-left: 80px;
	/* center the page */
}
#content {
  border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	border: 1px solid var(--black);
	border-top: none;
	background-color: var(--white);
	float: left;
	font-family: Arial;
	padding: 20px 30px;
	text-align: left;
	width: 100%;				
}
.centered {
  justify-content: center;
}
.stretch{
  width:100%;
}
#footer {
	font-family: Arial;
	font-size: 1em;
	text-align: center;
	color: var(--white);
	background-color: var(--blue);
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 30px;
	width: 100%;
}
code {
    text-align: left;
    border: 3px solid var(--blue);
    font-size: 0.9em;
}
a {
    text-decoration: underline;
    color: var(--black);
}
.no-decoration {
    text-decoration: none;
}
a:hover {
    color: var(--white);
}

table {/* begin table styles */
	border:5px var(--blue);
	border-radius: 8px;
	overflow: hidden;
	display: table;
	box-sizing: border-box;
	border-collapse:collapse;
	width: 100%;
}
table a {
	color: var(--black);
	text-decoration: none;
}
table a:hover {
	color:var(--black);
	text-decoration: none;
}
th {
	background-color: var(--blue);
	color: var(--white);
	text-align: left;
}
td {
	text-align: left;
	padding: 5px;
}


/* Menu styles */
.item {
	background-color: var(--blue);
	border: 1px solid var(--blue);
	color: var(--white);
	font-family: Arial;
	padding: 4px;
	border-radius: 8px;
	text-decoration: none;
	font-size: 75%;
}
.back_button {
	background-color: var(--blue);
	border: 1px solid var(--blue);
	color: var(--white);
	font-family: Arial;
	padding: 4px;
	border-radius: 8px;
	text-decoration: none;
	font-size: 75%;
	position: relative;
	right: 10px;
	top: 20px;
}
#Ricerca {
	margin-left: 110px;
	margin-top: 25px;
	text-align:center;
	background:  rgba(111, 134, 156, 0.2);
	display: flex;
	align-items: center;
	border-radius: 60px;
	backdrop-filter: blur(4px) saturate(180%);
}
#Ricerca input {
	background: transparent;
	flex: 1;
	border: 0;
	outline: none;
	font-size: 15px;
	color: var(--black);
}
#Ricerca select {
	background-color: var(--blue);
	border: 1px solid var(--blue);
	color: var(--white);
	font-family: Arial;
	padding: 4px;
	border-radius: 8px;
	text-decoration: none;
	font-size: 75%;
}
#Ricerca button {
	border: 0;
	border-radius: 50%;
	width: 26px;
	height: 26px;
	background:var(--blue);
	cursor: pointer;
	align-items: center;
}
.fa-search {
	color: var(--white);
}
#menu {
border-top-right-radius: 12px;
border-top-left-radius: 12px;
border: 1px solid var(--blue);
border-bottom: none;		/* avoid a double border */
clear: both;	
margin: 0 auto;			/* clear:both makes sure the content div doesn't float next to this one but stays under it */
width:100%;
padding:0 30px;
background-color: var(--white);
text-align: center;
}
#menu ul {
	width: 100%;
	margin: 0 auto;
	list-style-type: none;
	display: inline-block;
}
#menu li {
	float: left;
	padding: 0px;
}
#userbar {
	padding: 25px;
	margin-left: 120px;
	background-color: var(--white);
	float: right;
	width: 250px;
}