{% extends "base.html" %}

{% block body %}

<div class="centered-block" style="width: 95%">
    <table border="1">
        <tr>
            <th>Post</th>
            <th>Created by</th>
            
        </tr>
        <tr>
            <td class="leftpart"><b>{{ post["title"] }}</b><br>{{ post["content"] }}</td>
            <td class="rightpart"><b>{{ post["author"] }}</b> <br> {{post["date"]}}</td>
        </tr>
        <br>
        <br>
            <td><h1>Replies</h1></td>
        
        {% for reply in post["replies"]  %}
        <tr>
            <td class="leftpart"><b>{{ reply["author"] }}</b><br>{{ reply["content"] }}</td>
            <td class="rightpart"><b>{{reply["date"]}}</b></td>
        </tr>
        {% endfor %}
    </table>


<form id="post" method="post">
    <div>
        Subject Name
        <input type="text" name="comments_content" id="comments_content" placeholder="New comment.." spellcheck="false"  value="{{ comments_content }}">

        <input class=item type="submit" value="Add">
        <h2 id="success" class="hidden" style="color: var(--yellow)">Successfully submitted!</h2>
        <h2 id="failure" class="hidden" style="color: var(--red)">Failure to submit! </h2>
        </div>
</form>
<script src="{{ url_for('static', filename='comments.js') }}"></script>
{% endblock %}