{% if session['user_level']==1 %}

<div style="width: 90%;margin: 0 auto;">
        
    <div class="mb-3">
        <label class="form-label"> Category Title</label>
        <input class="form-control" type="text" name="cat_name" id="cat_name" spellcheck="false"  value="{{ cat_name }}">
      </div>
      <div class="mb-3">
        <label  class="form-label">Category Description</label>
        <textarea class="form-control" id="cat_desc" rows="2"></textarea>
      </div>
      <input class="btn" type="submit" value="Submit New Category">

      <h2 id="success" style="color: var(--black)">Successfully submitted!</h2>
      <h2 id="failure" style="color: var(--red)">Failure to submit! </h2>
</div>

{% endif %}
