{% if session['user_level']==1 %}
<div style="padding-left: 6%;">
Name
<input type="text" name="cat_name" id="cat_name" placeholder="New category name.." spellcheck="false"  value="{{ cat_name }}">
Description
<input type="text" id="cat_desc" name="cat_desc" spellcheck="false" placeholder="Description..." value="{{ cat_desc }}">
<input type="submit" value="{{ submit_text }}">
<h2 id="success" style="color: var(--yellow)">Successfully submitted!</h2>
<h2 id="failure" style="color: var(--red)">Failure to submit! </h2>
</div>
{% endif %}
