{% extends "base.html" %}

{% block body %}
<h2 class="blue-text" id="centered-text"><b>DEVELOPERS!</b></h2>
<br>
<br>
<br>
<div class="container-block">
<div class="social">
<img id=logo style="social" src="{{ url_for('static', filename='Aniello.jpg') }}"/>
<h2 class="blue-text"><figcaption>Aniello Genovese</figcaption></h2>
</div>
<div class="social">
<img id=logo style="social" src="{{ url_for('static', filename='Riccardo.jpg') }}"/>
<h2 class="blue-text"><figcaption>Riccardo Aiello</figcaption></h2>
</div>
<div class="social">
<img id=logo style="social" src="{{ url_for('static', filename='Crescenzo.jpg') }}"/>
<h2 class="blue-text"><figcaption>Crescenzo Esposito</figcaption></h2>
</div>
</div>
<div class="description">
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <h2 class="blue-text" id="centered-text"> <text>
      Ecco gli sviluppatori di ParthenoAnswer, prossimi ad una esasperata laurea?
   </text></h2>
</div>
{%endblock%}
