{% extends "base.html" %}

{% block body %}

<h2 class="blue-text" id="centered-text"><b>Useful link!</b></h2>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">
<div class="contact">
    <a href="https://uniparthenope.esse3.cineca.it/Home.do"><img id=logo1 style="contact" src="{{ url_for('static', filename='esse3.png') }}"></a>
<h2 class="blue-text"><figcaption>Link di esse3cineca! </figcaption></h2>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="contact">
    <a href="https://elearning.uniparthenope.it/login/index.html"><img id=logo1 style="contact" src="{{ url_for('static', filename='e_learning.png') }}"/>
<h2 class="blue-text"><figcaption>Link del nuovo e-leaning</figcaption></h2>
</div>
<div class="contact">
<img id=logo1 style="contact" src="{{ url_for('static', filename='.jpg') }}"/>
<h2 class="blue-text"><figcaption></figcaption></h2>
</div>
</div>
<div class="description">
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <h2 class="blue-text" id="centered-text"> <text>
      Ecco link o contatti utili che vi potranno servire in questo percorco 
   </text></h2>
</div>

{%endblock%}
