{% extends "base.html" %}

{% block body %}

<h2 class="blue-text" id="centered-text"><b>Useful links!</b></h2>

<div class="container-block">

   <div class="contact">
       <a href="https://uniparthenope.esse3.cineca.it/Home.do"><img id=logo1 src="{{ url_for('static', filename='esse3.png') }}"></a>
      <h2 class="blue-text" id="centered-text"><figcaption>Esse3cineca! </figcaption></h2>
   </div>

   <div class="contact">
      <a href="https://elearning.uniparthenope.it/login/index.html"><img id=logo1 src="{{ url_for('static', filename='e_learning.png') }}"/>
      <h2 class="blue-text"><figcaption>Nuovo e-leaning</figcaption></h2>
   </div>

   <div class="contact">
      <a href="https://elearning.uniparthenope.it/login/index.html"><img id=logo1 src="{{ url_for('static', filename='scuola.png') }}"/>
      <h2 class="blue-text"><figcaption>Sito scuola interdipartimentale</figcaption></h2>
   </div>

</div>

<div class="container-block">

   <div class="contact">
      <a href="https://www.instagram.com/parthenope_unita/"><img id=logo1 src="{{ url_for('static', filename='Pu.jpeg') }}"/>
      <h2 class="blue-text"><figcaption>Pagina instagram dell'associazione Parthenope Unita!</figcaption></h2>
   </div>


  <div class="contact">
      <a href="https://www.facebook.com/groups/296399030558615"><img id=logo1 src="{{ url_for('static', filename='Borse.jpg') }}"/>
      <h2 class="blue-text"><figcaption>Pagina facebook ADiSU!</figcaption></h2>
   </div>

   <div class="contact">
      <a href="https://www.instagram.com/uniparthenope/"><img id=logo1 src="{{ url_for('static', filename='logop.png') }}"/>
      <h2 class="blue-text"><figcaption>Pagina instagram della Parthenope!</figcaption></h2>
   </div>

</div>

<br>
<br>

<h2 class="blue-text" id="centered-text">
      Ecco link o contatti utili che vi potranno servire in questo percorso 
</h2>

{% endblock %}



