{% extends "base.html" %}

{% block body %}

{% if user_level == 1 %}
<form id="post" method="post">
    {% with action="/", submit_text="Create a new sub category" %}
    {% include "create_cat.html" %}
    {% endwith %}
</form>
<br><br>
{% endif %}    

{% if session['username'] %}
        
<a href="{{ url_for('create_posts', subject=subject) }}"> <button type="button"  style="margin-left: 30px;" class="btn btn-shadow btn btn-primary">
 <span class="btn-icon-wrapper pr-2 opacity-7">
 <i class="fa fa-plus fa-w-20"></i>
 </span>
 New post
 </button></a>
 {% endif %}

{% if posts %}


<div class="container-fluid mt-100">
     
            
    <div class="d-flex flex-wrap justify-content-between">
       <div>
        
       </div>
       <div class="col-12 col-md-3 p-0 mb-3">
          <input type="text" class="form-control" placeholder="Search...">
       </div>
    </div>
    <div class="card mb-3">
       <div class="card-header pl-0 pr-0">
          <div class="row no-gutters w-100 align-items-center">
             <div class="col ml-3">Topics</div>
             <div class="col-4 text-muted">
                <div class="row no-gutters align-items-center">
                   <div class="col-4">Replies</div>
                   <div class="col-8">&nbsp;&nbsp;&nbsp;Last Reply</div>
                </div>
             </div>
          </div>
       </div>
       {% for post in posts  %}
       <div class="card-body py-3">
          <div class="row no-gutters align-items-center">
             <div class="col">
                <a  href="{{ url_for('comments', id=post['_id']) }}"  class="text-big" data-abc="true">{{ post["title"] }}</a>
                <div class="text-muted  mt-1"><a href="{{ url_for('show_profile', id=post['authorId']) }}">{{post["author"] }}</a></div>
             </div>
             <div class="d-none d-md-block col-4">
                <div class="row no-gutters align-items-center">
                   <div class="col-4">{{post['replies']|length}}</div>
                   <div class="media col-8 align-items-center">
                    <div class="media-body flex-truncate ml-2">
                       
                       {% for reply in post.replies%}
                       {% if loop.index == post['replies']|length%}
                       <p class="line-height-1 small text-truncate" data-abc="true">By {{reply.author}}</p>
                       <div class="text-muted small text-truncate">{{reply.date}}</div>
                       {% endif%}
                       {% endfor %}
                    </div>
                 </div>
                   
                </div>
             </div>
          </div>
       </div>
       
       <hr class="m-0">
       {% endfor %}

       {% else %}
       <h1 id="centered-text">No posts yet!</h1>
       {% endif %}

  
   
    </div>
    <nav>
       <ul class="pagination mb-5">
          <li class="page-item disabled"><a class="page-link" href="javascript:void(0)" data-abc="true">&laquo;</a></li>
          <li class="page-item active"><a class="page-link" href="javascript:void(0)" data-abc="true">1</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0)" data-abc="true">2</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0)" data-abc="true">3</a></li>
          <li class="page-item"><a class="page-link" href="javascript:void(0)" data-abc="true">&raquo;</a></li>
       </ul>
    </nav>
    {% if username=='Guest'%}
    <h3>
        You are not logged in, as such your posts will display to public as "Guest".
        To log-in, please head to the "Profile" section.
    </h3>
{% else %}
    <h3>You are logged in as "{{session["username"]}}", as such your username will be associated with the post.</h3>
{% endif %}

{% endblock %}
