{% extends "base.html" %}

{% block body %}

{% if user_level == 1 %}
<form id="post" method="post">
    {% with action="/", submit_text="Create a new sub category" %}
    {% include "create_cat.html" %}
    {% endwith %}
</form>
<br><br>
{% endif %}    

{% if session['username'] %}
        
<a href="{{ url_for('create_posts', subject=subject , code=code) }}"> <button type="button"  style="margin-left: 30px;" class="btn btn-shadow btn btn-primary">
 <span class="btn-icon-wrapper pr-2 opacity-7">
 <i class="fa fa-plus fa-w-20"></i>
 </span>
 New post
 </button></a>
 {% endif %}

{% if posts %}

<div class="container-fluid mt-100">
    <div class="card mb-3" style="width: 90%; margin: 0 auto;"> 
       <div class="card-header pl-0 pr-0">
          <div class="row no-gutters w-100 align-items-center">
             <div class="col ml-3" id="white">Topics</div>
             <div class="col-4 ">
                <div class="row no-gutters align-items-center">
                   <div class="col-4">Replies</div>
                   <div class="col-8">&nbsp;&nbsp;&nbsp;Last Reply</div>
                </div>
             </div>
          </div>
       </div>
       {% for post in posts  %}
       <div class="card-body py-3">
          <div class="row no-gutters align-items-center">
             <div class="col">
                <a  href="{{ url_for('comments', id=post['_id']) }}"  class="text-big" data-abc="true"><b>{{ post["title"] }}</b>
                  {% if post["esame_superato"] == 1 %}
                  <span class="badge badge-pill-sm badge-success" style="color:black; background-color: greenyellow ; ">Esame Superato  <i class="fa-regular fa-circle-check"></i></span>
                  {%endif%}
                </a>
                <div class="  mt-1"></div>
             </div>
             <div class="d-none d-md-block col-4">
                <div class="row no-gutters align-items-center">
                   <div class="col-4">{{post['replies']|length}}</div>
                   <div class="media col-8 align-items-center">
                    <div class="media-body flex-truncate ml-2">
                       
                       {% for reply in post.replies%}
                       {% if loop.index == post['replies']|length%}
                       <p class="line-height-1 small text-truncate" data-abc="true">By {{reply.author}}</p>
                       <div class="text-muted small text-truncate">{{reply.date}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button type="button" class="btn btn-primary"><a href="{{ url_for('delete_post',id = post['_id'])}}">elimina post</a></button></div>

                       {% endif%}
                       {% endfor %}
                       
                    </div>
                    <button type="button" class="btn btn-primary"><a  href="{{ url_for('delete_post',id = post['_id'])}}">elimina post</a></button>
                 </div>
                 <div class="col-4"> 
                 </div>
                </div>
             </div>
          </div>
       </div>
       {% endfor %}

       {% else %}
       <h1 id="centered-text">No posts yet!</h1>
       {% endif %}

  
   
    </div>



{% endblock %}
