{% extends "base.html" %}

{% block body %}

{% if user_level == 1 %}
<form id="post" method="post">
    {% with action="/", submit_text="Create a new sub category" %}
    {% include "create_cat.html" %}
    {% endwith %}
</form>
<br><br>
{% endif %}    

{% if posts %}
<div class="centered-block" style="width: 95%">
    <table border="1">
        <tr>
            <th>Post</th>
            <th>Created by</th>
            
        </tr>
        {% for post in posts  %}
        <tr>
            <td class="leftpart"><a href="{{ url_for('comments', id=post['_id']) }}"><b>{{ post["title"] }}</b></a><br>{{ post["content"] }}</td>
            <td class="rightpart"><b>{{ post["author"] }}</b> <br> {{post["date"]}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
    <h1>No posts yet!</h1>
{% endif %}
    {% if username=='Guest' %}
        <h3 class="red-text centered-text medium-text">
            You are not logged in, as such your posts will display to public as "Guest".
            To log-in, please head to the "Profile" section.
        </h3>
    {% else %}
        <h3 class="yellow-text centered-text medium-text">You are logged in as "{{session["username"]}}", as such your username will be associated with the post.</h3>
    {% endif %}
</h2>



{% endblock %}
