{% extends "base.html" %}

{% block body %}
        <h1>
            Welcome {{ session['username'] }}!<br>
        </h1>
        <div id="table">
            <h1>Matricola: {{ login_user['user']['trattiCarriera'][0]['matricola']  }}</h1>
        </div>
        <div class="footer">
            <div class=" centered-text"> <a class=item href="{{ url_for('index') }}">Home</a><br><br>
            <a class=item href="{{ url_for('sign_out') }}">Log Out</a>
            </div>
        </div>
        
{% endblock %}