{% extends 'base.html' %}

{% block body %}
<h1>Join to the Computer Science Community of Parthenope University !</h1>
<div id="form_sign">
    <form id="sign_up" method="post" style="margin-top: 5%">
            <div>
                <label>Username</label>
            <div>
                <input type="text" name="username" id="username"/>
            </div>
            <label>Password</label>
            <div>
                <input type="password" name="password" id="password"/>
            </div>
            <div>
                <input type="submit" value="Register"/>
            </div>
            </div>
            <h2 id="error" class="red-text hidden" style="letter-spacing: normal"></h2>
            <br><br>
    </form>
</div>
<script src="{{ url_for('static', filename='sign.js') }}"></script>
{% endblock %}