{% extends 'base.html' %}

{% block body %}
<h1>To reply other posts and edit/delete your own posts, make sure to sign in!</h1>
<div id="form_sign">
    <form id="sign_in" method="post" style="margin-top: 5%;">
        <div>
            <label>Codice Fiscale</label>
        <div >
            <input type="text" name="username" id="username"/>
        </div>
        <label>Password</label>
        <div>
            <input type="password" name="password" id="password"/>
        </div>
        <div>
            <input type="submit" value="Sign in"/>
        <h2 id="error" style="letter-spacing: normal"></h2>
        <br><br>
    </form>
</div>
<script src="{{ url_for('static', filename='sign.js') }}"></script>
{% endblock %}