{% extends "base.html" %}

{% block body %}
  

{% if subc != None %}
<div class="centered-block" style="width: 95%">
    <table border="1">
        <tr>
            <th>Subject</th>
            <th>Last Post</th>
            
        </tr>
        {% for subject in subjects  %}
        <tr>
            {% if session['username'] %}
            <td class="leftpart"><a href="{{ url_for('view_post', subject=subject) }}"> <b>{{ subject }}</b></a></td>
            {% else %}
            <td class="leftpart"><b>{{ subject }}</b></td>
            {% endif %}
            <td class="rightpart"> {{ last_post }} </td>
            {% if session['username'] %}
            <td width="9%"><a class="item" href="{{ url_for('create_posts', subject=subject) }}">Add Post</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% else %}
    <h1>No Sub Categories yet!</h1>
{% endif %}
    {% if not session['username'] %}
        <h3 class="red-text centered-text medium-text">
            You are not logged in, as such your posts will display to public as "Guest".
            To log-in, please head to the "Profile" section.
        </h3>
    {% else %}
        <h3 class="yellow-text centered-text medium-text">You are logged in as "{{session['username']}}", as such your username will be associated with the post.</h3>
    {% endif %}
</h2>



{% endblock %}
