{% extends "base.html" %}

{% block body %}
  

{% if subjects %}

<div class="card mb-3" style="width: 90%; margin: 0 auto;">
    <div class="card-header pl-0 pr-0">
       <div class="row no-gutters w-100 align-items-center">
          <div class="col ml-3" id="white">Subject</div>
          <div class="col-4">
             <div class="row no-gutters align-items-center">
               <div class="col-lg-10" id="white">&nbsp;&nbsp;&nbsp;Last Post</div>
             </div>
          </div>
       </div>
    </div>
    {% for subject in subjects  %}
    <div class="card-body py-3">
       <div class="row no-gutters align-items-center">
          <div class="col">
             <a  href="{{ url_for('view_post', subject=subject, code=code[loop.index0]) }}"  class="text-big" data-abc="true"><b>{{ subject }}</b></a>
          </div>
          <div class="d-none d-md-block col-4">
             <div class="row no-gutters align-items-center">
                {% if last_post[loop.index-1]["title"] %}
                {% if session['username'] %}
                <div class="col-lg-10"><a href="{{ url_for('comments', id=last_post[loop.index0]['_id']) }}">{{ last_post[loop.index0]["title"] }} </a></b> <br> {{ last_post[loop.index0]['subject'] }}</div>
                {% else %}
                <div class="col-lg-10">{{ last_post[loop.index0]["title"] }}</b> <br> {{ last_post[loop.index0]['subject'] }}</div>
                {% endif %}
                {% else %}
                <div class="col-lg-10"> &nbsp;&nbsp;&nbsp;No posts yet... </div>
                {% endif %}
             </div>
          </div>
       </div>
    </div>
   
    {% endfor %}
   
{% else %}
    <h1>No Subjects yet!</h1>
{% endif %}




{% endblock %}
