{% extends "base.html" %}

{% block body %}

{% if session['user_level']==1 %}
<form id="post" method="post">
    <div>
        Subject Name
        <input type="text" name="new_subj" id="new_subj" placeholder="New subject name.." spellcheck="false"  value="{{ new_subj }}">
        <input type="submit" value="Add">
        <h2 id="success" style="color: var(--black)">Successfully submitted!</h2>
        <h2 id="failure" style="color: var(--red)">Failure to submit! </h2>
        </div>
</form>
{% else %}
<h1>You have no permission!</h1>
{% endif %}
<script src="{{ url_for('static', filename='update_subject.js') }}"></script>
{% endblock %}