{% extends "base.html" %}

{% block body %}
<form id="post" method="post">
    <div>
        Subject Name
        <input type="text" name="new_subj" id="new_subj" placeholder="New subject name.." spellcheck="false"  value="{{ new_subj }}">
        <input class=item type="submit" value="Add">
        <h2 id="success" class="hidden" style="color: var(--yellow)">Successfully submitted!</h2>
        <h2 id="failure" class="hidden" style="color: var(--red)">Failure to submit! </h2>
        </div>
</form>
<script src="{{ url_for('static', filename='update_subject.js') }}"></script>
{% endblock %}